<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-img src="./assets/img/logo_text.png" id="logo_txt"></ion-img>
    <ion-buttons slot="end" (click)="presentAlertPrompt()">  
    <ion-icon name="log-out-outline" size="large"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>