<app-head></app-head>

<ion-content>
  <div id="container">
    <h1>Contactez-nous</h1>


      <h2>Votre message</h2>

    <form [formGroup]="contactForm">

      <ion-item>
        <ion-label>Téléphone</ion-label>
        <ion-input formControlName="tel" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nom Prénom</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Message</ion-label>
        <ion-textarea formControlName="message" type="text" rows=10></ion-textarea>
      </ion-item>
      <ion-button shape="round" color="secondary" type="submit" block (click)="submit()">Envoyer</ion-button><br>
    
    </form>

        
    <p>Contactez nous au 01.02.03.04.05<br>
      Ecrivez-nous à capform@gmail.com</p>

    
  
  </div>

</ion-content>
