<app-head></app-head>

<ion-content id="container">

    <h1>{{ themeName }}</h1>

    <h2>Eapa</h2>
    <p>{{ eapaFirstName }} {{ eapaLastName }}</p>

    <h2>Date</h2>
    <p>{{ session$.date | date:'dd/MM/yyyy' }}</p>

    <h2>Détails</h2>
    <p *ngFor="let detail of session$.details">
        {{ detail.label }}
    </p>

    <h2>Participants</h2>
    <p *ngFor="let participent of session$.participent" (click)="getSeniorDetails(participent)">
        {{ participent.firstName }} {{ participent.lastName }}
    </p>

    <ion-footer>
      <div id="fab-btn">

          <ion-fab>
            <ion-fab-button color="secondary" >
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button class="test" color="secondary" (click)="deleteSession(session$)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        
          <ion-fab>
            <ion-fab-button color="secondary" >
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list  side="end">
              <ion-fab-button class="test" color="secondary" (click)="editSession(session$)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        
      </div>
    </ion-footer>

</ion-content>