<app-head></app-head>

<ion-content id="container">

  <h1>Paramètres</h1>

  <ion-segment color="primary" [(ngModel)]="type">
    <ion-segment-button value="add" checked>
      <ion-label>Ajouter</ion-label>
    </ion-segment-button>
    <ion-segment-button value="edit">
      <ion-label>Modifier</ion-label>
    </ion-segment-button>
    <ion-segment-button value="delete">
      <ion-label>Supprimer</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <h2>Catégories</h2>
    <ion-select placeholder="Choisir" (ionChange)="selectItem($event.target.value)">
      <ion-select-option value="ehpad">EHPAD</ion-select-option>
      <ion-select-option value="theme">Theme de session</ion-select-option>
      <ion-select-option value="detail">Detail de session</ion-select-option>
    </ion-select>
  </ion-card>

  <div [ngSwitch]="type">
    
    <!--AJOUTER-->
    <div *ngSwitchCase="'add'">

    <ion-card>
        <h2>Nouveau Item</h2>
        <ion-input #newItemAdded placeholder="Ajouter"></ion-input>
      </ion-card>
      <ion-button (click)="newItem(newItemAdded.value)">Ajouter</ion-button>

    </div>



    <!--EDITER-->
    <div *ngSwitchCase="'edit'">

      <ion-card>
        <h2>Items</h2>
        <ion-select placeholder="Choisir" (ionChange)="itemToEditId($event.target.value)">
          <ion-select-option *ngFor="let item of (itemList$ | async)" [value]='item.id'>
            <span *ngIf="itemSelected == 'ehpad'">{{ item.name }}</span>
            <span *ngIf="itemSelected == 'theme'">{{ item.label }}</span>
            <span *ngIf="itemSelected == 'detail'">{{ item.label }}</span>
          </ion-select-option>
        </ion-select>
      </ion-card>
      <ion-card>
        <h2>Item modifié</h2>
        <ion-input #itemEdited placeholder="Item modifié"></ion-input>
      </ion-card>
      <ion-button (click)="updateItem(itemEdited.value)">Modifier</ion-button>

    </div>


    <!--DELETE-->
    <div *ngSwitchCase="'delete'">

      <ion-card>
        <h2>Items</h2>
        <ion-select placeholder="Choisir" (ionChange)="itemToEditId($event.target.value)">
          <ion-select-option *ngFor="let item of (itemList$ | async)" [value]='item.id'>
            <span *ngIf="itemSelected == 'ehpad'">{{ item.name }}</span>
            <span *ngIf="itemSelected == 'theme'">{{ item.label }}</span>
            <span *ngIf="itemSelected == 'detail'">{{ item.label }}</span>
          </ion-select-option>
        </ion-select>
      </ion-card>


      <ion-button (click)="deleteItem()">Supprimer</ion-button>

    </div>
    
  </div>

</ion-content>

<!--
<ion-footer id="container">

  <ion-button *ngIf="type == 'add'" (click)="newItem(newItemAdded.value)">Ajouter</ion-button>
  <ion-button *ngIf="type == 'edit'" (click)="updateItem(itemEdited.value)">Modifier</ion-button>
  <ion-button *ngIf="type == 'delete'" (click)="deleteItem(newItemAdded.value)">Supprimer</ion-button>

</ion-footer>-->
