<app-head></app-head>

<ion-content>

  <div id="container">
    <h1>Bonjour Dc {{ docName }}</h1>

    <ion-searchbar type="text" debounce="500" (ionChange)="getItems($event)"></ion-searchbar>

    <ion-item>
      <ion-label position="floating">EHPAD</ion-label>
      <ion-select (ionChange)="selectSeniorsByHome($event.target.value)">
          <ion-select-option [value]="">Tous</ion-select-option>
          <ion-select-option *ngFor="let ehpad of (homesList$ | async)" [value]="ehpad.id">{{ehpad.name}}</ion-select-option>
        </ion-select>
    </ion-item>
  
    <h2>Patients</h2>
    <ion-list>
      <ion-item *ngFor="let senior of (newList | async)" (click)="seniorDetails(senior)" >
          <div>
            <p>{{ senior.lastName }} {{ senior.firstName }}</p>
          </div>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
