.timer-counter-label{
  align-items: center;
  font-size: 27px;
  padding-top: 12px;
}
.timer-start-text{
  font-size: 20px;
}
.timer-button{
      outline: none;
      border: 1px solid #BABF30;
      border-radius: 10px;
      background: #BABF30;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      margin: 15px 10px;
      min-width: 100px;
}

.timer-button2{
    border-radius: 50%;
    background: #DE7306;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    min-width: 50px;
}

#divider{
  text-align: center;
  border-style:solid; 
  border-left: white;
  border-right: white;
  border-top-width: 2px;
  border-top-color: #aeb4b9; 
  border-bottom-width: 2px;
  border-bottom-color: #aeb4b9;
  margin: 10x;
}

.disabled{
  background-color: #aeb4b9;
  border:1px solid #aeb4b9;
}

.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

ion-icon{
  color: black;
  background-color: transparent;
}

.btn-plusMinus{
  background-color: transparent;
}