	<section class="timer-counter-label">
		<div *ngIf="counter" [ngClass]="{blink: !running}">
			<span>{{minutes}}:</span><span>{{seconds}}:</span> <span>{{milliseconds}}</span>
		</div>
		
		<div *ngIf="!counter">
			<span>{{minutes}}:</span><span>{{seconds}}:</span> <span>{{milliseconds}}</span>
		</div>
  	</section>
  
	<div class="timer-button-container" *ngIf="showTimerControls">

		<button class="timer-button" color="secondary"  (click)="startTimer()">{{ startText }}</button>
		
		<button *ngIf="showLapBtn" [disabled]='!counter' [ngClass]="{'disabled': !counter}" class="timer-button" (click)="lapTimeSplit()">Lap</button>
	
		<button class="timer-button" color="secondary"  (click)="clearTimer()">Restart</button>

		<div *ngFor="let lap of laps;let i = index">
			<p> <b>Lap {{i+1}} :</b>  {{lap}}</p>
		</div>
  	</div>


