<app-head></app-head>


<ion-content>
  <div id="container">
    <h1>Nouveau participant</h1>
    <ion-list>

    <form [formGroup]="newDoc">
        <ion-item>
            <ion-label position="floating">Prénom</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input formControlName="tel" type="text"></ion-input>
        </ion-item>

      </form>

    </ion-list>

      <ion-button shape="round" color="secondary"  (click)="onSubmit()">Ajouter</ion-button>

  </div>
</ion-content>