<app-head></app-head>

<ion-content id="container">

  <h1>Medecins</h1>

<h2>Recherche par nom</h2>
  <ion-searchbar type="text" debounce="500" (ionChange)="getItems($event)"></ion-searchbar>

  
  <h2>Liste</h2>
  <ion-list>
    <ion-item *ngFor="let doc of (newList | async)" (click)="docDetails(doc)" >
        <div>
          <p>{{ doc.lastName }} {{ doc.firstName }}</p>
        </div>
    </ion-item>
  </ion-list>


    
</ion-content>