<app-head></app-head>


<ion-content>
  <div id="container">

  <h1>Nouvelle séance</h1>
    <ion-list>

      <form [formGroup]="sessionForm">
        <ion-card>
            <ion-item>
              <ion-label position="floating">Date</ion-label>
              <ion-datetime formControlName="date" value="1920-01-01" displayFormat="DD-MMM-YYYY"></ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>

            <ion-item>
              <ion-label position="floating">EAPA</ion-label>
              <ion-select formControlName="eapa" interface="popover">
                  <ion-select-option *ngFor="let eapa of (eapaList$ | async)" value={{eapa.id}}>{{eapa.firstName}} {{eapa.lastName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card>
          <ion-card>

            <ion-item>
              <ion-label position="floating">Theme</ion-label>
              <ion-select formControlName="theme" interface="popover">
                  <ion-select-option *ngFor="let theme of (themelist$ | async)" value={{theme.id}}>
                    {{theme.label}}
                  </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card>
            <ion-card>
            <ion-item>
              <ion-label position="floating">Détails</ion-label>
              <ion-select multiple="true" (ionChange)="addDetail($event.target.value)">
                  <ion-select-option *ngFor="let detail of (detailslist$ | async)" value={{detail.id}}>
                    {{detail.label}}
                  </ion-select-option>
              </ion-select>
            </ion-item>
            </ion-card>

            <ion-card>
              <ion-item>
                <ion-label position="floating">EHPAD</ion-label>
                <ion-select (ionChange)="selectSeniorsByHome($event.target.value)" interface="popover">
                    <ion-select-option [value]="" selected="selected">Tous</ion-select-option>
                    <ion-select-option *ngFor="let ehpad of (homesList$ | async)" [value]="ehpad.id">{{ehpad.name}}</ion-select-option>
                  </ion-select>
              </ion-item>

              <ion-item *ngFor="let senior of (usersByHome$ | async)" (click)="addPart(senior.id)">
                <ion-checkbox #checkbx></ion-checkbox>

                <ion-label>{{ senior.lastName }} {{ senior.firstName }}</ion-label>

                <ion-select *ngIf="checkbx.checked" interface="popover">
                  <ion-select-option value="3">Actif</ion-select-option>
                  <ion-select-option value="2">Passif</ion-select-option>
                  <ion-select-option value="1">Refus</ion-select-option>
                </ion-select>

              </ion-item>

            </ion-card>
        
      </form>

    </ion-list>

    <ion-button shape="round"  (click)="submit(sessionForm)">Ajouter</ion-button>

</div>
</ion-content>