<app-head></app-head>

<ion-content id="container">
  <h1>{{ senior$.firstName }} {{ senior$.lastName }}</h1>

    <ion-segment color="primary" [(ngModel)]="type">
      <ion-segment-button value="detail" checked>
        <ion-label>Détails</ion-label>
      </ion-segment-button>
      <ion-segment-button value="suivi">
        <ion-label>Suivi</ion-label>
      </ion-segment-button>
      <ion-segment-button value="test">
        <ion-label>Tests</ion-label>
      </ion-segment-button>
    </ion-segment>

  <div [ngSwitch]="type">
    
    <div *ngSwitchCase="'detail'">
      <h2>Détails</h2>
      <p>Date de naissance : {{ senior$.birthDate | date:'dd/MM/yyyy' }}</p>
      <p>Sexe :  {{ senior$.sexe }}</p>
      <p>Ehpad : {{ retirementHomeName }}</p>
      <p *ngIf="senior$.tel != null">Tel : 0{{ senior$.tel }}  <a ng-href="`tel:${senior$.tel}`"><ion-icon name="call-outline"></ion-icon></a></p>
      <p>Date d'inscription : {{ senior$.inscriptionDate | date:'dd/MM/yyyy' }}</p>
      <p *ngIf="senior$.doctor != null">Medecin : {{ senior$.doctor }}</p>
      <p>Actif :<ion-toggle checked></ion-toggle></p>
    </div>

    <div *ngSwitchCase="'suivi'">
      <h2>Suivi</h2>
      <p>{{ nbSessions }} séances depuis 30 derniers jours</p>
      <ion-grid>
        <ion-row *ngFor="let session of senior$.session" (click)="sessionDetails(session)">
          <ion-col>
            <p>{{ session.date | date:'dd/MM/yyyy' }}</p>
          </ion-col>
          <ion-col>
            <p>{{ session.theme.label }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>

    <div *ngSwitchCase="'test'">
      <h2>Tests</h2>
      <ion-grid>
        <ion-row *ngFor="let test of senior$.test" (click)="testDetails(test)">
          <ion-col>
            <p>{{ test.date | date:'dd/MM/yyyy' }}</p>
          </ion-col>
          <ion-col>
            <p>{{ test.testName.label }}</p>
          </ion-col>
          <ion-col>
            <p>{{ test.scoreTest }}        
              <span *ngIf="test.testName.label === 'SPPB'">/ 12</span>
              <span *ngIf="test.testName.label === '6MM'"> m</span>
              <span *ngIf="test.testName.label === '2MM'"> m.g.</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button shape="round" color="secondary" type="submit" block (click)="presentActionSheet()"><ion-icon name="add-outline"></ion-icon></ion-button>

      <!--
      <ion-fab horizontal="center" vertical="end" *ngIf="type == 'test'">
        <ion-fab-button color="secondary" >
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button class="test" color="secondary" (click)="newTest('test-sppb')">SPPB</ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button class="test" color="secondary" (click)="newTest('test6-mm')">6MM</ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button class="test" color="secondary" (click)="newTest('test2-mm')">2MM</ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      -->

    </div>
    
  </div>
 
</ion-content>

