<app-head></app-head>

<ion-content id="container">
  <h1>Dc {{ doc$.firstName }} {{ doc$.lastName }}</h1>

    <ion-segment color="primary" [(ngModel)]="type">
      <ion-segment-button value="details" checked>
        <ion-label>Détails</ion-label>
      </ion-segment-button>
      <ion-segment-button value="patients">
        <ion-label>Patients</ion-label>
      </ion-segment-button>
    </ion-segment>

  <div [ngSwitch]="type">
    
    <div *ngSwitchCase="'details'">
      <h2>Détails</h2>
      <p>Pseudo :  {{ doc$.userName }}</p>
      <p *ngIf="doc$.tel != null">Tel : 0{{ doc$.tel }}  <a ng-href="`tel:${senior$.tel}`"><ion-icon name="call-outline" size="large"></ion-icon></a></p>
      <p>Actif :<ion-toggle checked></ion-toggle></p>
    </div>

    <div *ngSwitchCase="'patients'">
      <h2>Patients</h2>
      <ion-grid>
        <ion-row *ngFor="let patient of patientsList$" (click)="patientDetails(patient)">
          <ion-col>
            <p>{{ patient.firstName }}</p>
          </ion-col>
          <ion-col>
            <p>{{ patient.lastName }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>

    
    
  </div>
 
</ion-content>

