<app-head></app-head>

<ion-content>

  <div id="container">
    <h1>Bonjour {{ userFirstName }}</h1>

    <ion-card routerLink="/seniors">
      <div class="div1">
        <ion-icon name="people" size="large"></ion-icon>
        <p>Participants</p>
      </div>
    </ion-card>
    
    <ion-card routerLink="/sessions">
      <div class="div1">
        <p>Séances</p>
        <ion-icon name="barbell" size="large"></ion-icon>
      </div>
    </ion-card>

    <ion-card routerLink="/tests">
      <div class="div1">
        <ion-icon name="stats-chart" size="large"></ion-icon>
        <p>Tests</p>
      </div>
    </ion-card>
    
    <ion-card routerLink="/doctors">
      <div class="div1">
        <p>Medecins</p>
        <ion-icon name="git-network" size="large"></ion-icon>
      </div>
    </ion-card>

    <ion-card routerLink="/new-user">
      <div class="div1">
        <ion-icon name="person-add" size="large"></ion-icon>
        <p>Utilisateurs</p>
      </div>
    </ion-card>

    <ion-card routerLink="/settings">
      <div class="div1">
        <p>Paramètres</p>
        <ion-icon name="options" size="large"></ion-icon>
      </div>
    </ion-card>

  
  </div>

</ion-content>
