.div1{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


ion-button{
    margin: 0 10px 0 20px;
    box-shadow: none;
    padding: 0px;
}

button{
    background-color: white;
}

ion-icon{
    color: #BABF30;
}
