<app-head></app-head>
<ion-content id="container">
  <h1>Test 6 MM</h1>

  <ion-segment color="primary" [(ngModel)]="type">
    <ion-segment-button value="before" checked>
      <ion-label>Pré-test</ion-label>
    </ion-segment-button>
    <ion-segment-button value="test">
      <ion-label>Test</ion-label>
    </ion-segment-button>
    <ion-segment-button value="after">
      <ion-label>Post-test</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]="testForm">

    <div [ngSwitch]="type">

      <div *ngSwitchCase="'before'" class="div-bf-af">

        <label>Fréquence cardique : {{ bfHr }} </label>
        <ion-range min="50" max="150" step="2" pin value={{bfHr}} (ionChange)="addTestItem($event.target.value, 8)">
          <p slot="start">0</p>
          <p slot="end">10</p>
        </ion-range>
        
        <label>Dyspnée : {{ bfDysp }}</label>
        <ion-range min="0" max="10" step="1" pin value={{bfDysp}} (ionChange)="addTestItem($event.target.value, 9)">
          <p slot="start">0</p>
          <p slot="end">10</p>
        </ion-range>

        <label>Douleur : {{ bfPain }}</label>
        <ion-range min="0" max="10" step="1" pin value={{bfPain}} (ionChange)="addTestItem($event.target.value, 10)">
          <p slot="start">0</p>
          <p slot="end">10</p>
        </ion-range>
      </div>

      <div *ngSwitchCase="'test'">
        <div class="divider"> 
          <p><b>Distance totale :</b> 
            <button class="btn-plusMinus" (click)="removeDist()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </button>
            {{ distance }} m 
            <button class="btn-plusMinus" (click)="addDist()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </button>
          </p>
          <p>Nombre de pauses :
            <button class="btn-plusMinus" (click)="removeBreak()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </button>
             {{ nbBreaks }}
            <button class="btn-plusMinus" (click)="addBreak()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </button>
          </p>
        </div>
        <app-timer [start]="start"  [showTimerControls]="true" [showLapBtn]="true" (distanceEvent)="distTot($event)"></app-timer>
      </div>

      <div *ngSwitchCase="'after'" class="div-bf-af">
        <label>Fréquence cardique : </label>
        <ion-range min="50" max="150" step="2" pin value={{afHr}} (ionChange)="addTestItem($event.target.value, 11)">
          <p slot="start">0</p>
          <p slot="end">10</p>
        </ion-range>
        <label>Dyspnée :</label>
        <ion-range min="0" max="10" step="1" pin value={{afDysp}} (ionChange)="addTestItem($event.target.value, 12)">
          <p slot="start">0</p>
          <p slot="end">10</p>
        </ion-range>
        <label>Douleur :</label>
        <ion-range min="0" max="10" step="1" pin value={{afPain}} (ionChange)="addTestItem($event.target.value, 13)">
          <p slot="start">0</p>
          <p slot="end">10</p>
        </ion-range>
        
      </div>
    </div>
  </form>
</ion-content>

<ion-footer id="container">
  <ion-button *ngIf="type === 'after'" shape="round" color="secondary" (click)='submit()'>Valider</ion-button>
</ion-footer>
