.timer-counter-label{
    align-items: center;
    font-size: 27px;
  }
  .timer-start-text{
    font-size: 20px;
  }
  .timer-button{
    outline: none;
    border: 1px solid #BABF30;
    border-radius: 10px;
    background: #BABF30;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin: 20px 10px;
    min-width: 100px;
    align-items: center;
  }
  
  .divider{
    text-align: center;
    border-style:solid; 
    border-left: white;
    border-right: white;
    border-top-color: white; 
    border-bottom-width: 2px;
    border-bottom-color: #aeb4b9;
    margin: 20x;
    padding: 20px;
  }

  .div-bf-af{
    padding: 20px 10px;
  }
  
  .disabled{
    background-color: #aeb4b9;
    border:1px solid #aeb4b9;
  }
  
  .blink {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  ion-icon{
    color: black;
    background-color: transparent;
    font-size: 20px;
    margin: 0;
    padding: 0px 3px;
  }
  
  .btn-plusMinus{
    background-color: transparent;
  }

  ion-range{
    padding: 8px;
  }