<ion-header>
  <ion-toolbar>
    <ion-img src="./assets/img/logo_text.png" id="logo_txt"></ion-img>
    <ion-img src="./assets/img/logo.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>A propos</h1>
    <p>L’application <b>CAP FORM</b> <br>est une application professionnelle dans le secteur de <b>l’activité physique</b> à destination des
      <b>seniors</b> vivant à domicile, en EHPAD, des EAPA et des professionnels de santé.<br>Elle est pensée comme un outil au
      service de la pratique en activité physique et place l'usager au centre de cette application.<br></p>
      
      <h2><b>C'est parti !</b></h2>
      <ion-button *ngIf="loggedIn == false" shape="round" (click)="presentAlertPrompt()">Connexion</ion-button>
      <ion-button *ngIf="loggedIn == true" shape="round" (click)="goToHomeByUser()">Menu</ion-button>
      <p id="error">{{ errorLoggin }} </p>

      <h1>Des questions?</h1>
      <p>Contactez nous au 01.02.03.04.05<br> ou via le formulaire de contact suivant</p>
      <ion-button shape="round" routerLink='/contact'>Contact</ion-button><br>
  
    </div>
  </ion-content>