<app-head></app-head>

<ion-content id="container">

  <h1>Séances</h1>
  <ion-card>
    <h2>Selectionner par EAPA</h2>
    <ion-item>
      <ion-label position="floating">EAPA</ion-label>
      <ion-select (ionChange)="selectSessionsByEapa($event.target.value)">
          <ion-select-option [value]="">Tous</ion-select-option>
          <ion-select-option *ngFor="let eapa of (eapaList$ | async)" [value]="eapa.id">{{eapa.firstName}} {{eapa.lastName}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-card>
  <h2>Liste</h2>

  <ion-item *ngFor="let session of (sessionsByEapa$ | async)" (click)="sessionDetails(session)">

    <p>{{ session.date | date:'dd/MM/yyyy' }} <span *ngIf="!eapaSelc">{{ session.eapa.firstName }}</span></p>
    <p>{{ session.theme.label }}</p>

  </ion-item>

  <ion-button shape="round" color="secondary" type="submit" block (click)="newSession()"><ion-icon name="add-outline"></ion-icon></ion-button>

</ion-content>