<app-head></app-head>

<ion-content id="container">

  <h1>{{ testName2 }}</h1>
  
  <h2>Détails</h2>
  <p>Réalisé le {{ test.date  | date:'shortDate'}}<br>par {{ eapa }}</p>
  
  <p>Score : {{ test.scoreTest }}
    <span *ngIf="testName2 === 'SPPB'">/ 12</span>
    <span *ngIf="testName2 === '6MM'"> m</span>
    <span *ngIf="testName2 === '2MM'"> m.g.</span>
  </p>

  <h2>Scores</h2>
  <p *ngFor="let testItem of test.testItemScore">
    <span *ngIf="testItem.testItem.id == '1'">Pieds joints</span>
    <span *ngIf="testItem.testItem.id == '2'">Semi tandem</span>
    <span *ngIf="testItem.testItem.id == '3'">Tandem</span>
    <span *ngIf="testItem.testItem.id == '4'">Vitesse de marche</span>
    <span *ngIf="testItem.testItem.id == '5'">Levées de chaise</span>
    <span *ngIf="testItem.testItem.id == '6'">Distance</span>
    <span *ngIf="testItem.testItem.id == '7'">Pauses</span>
    <span *ngIf="testItem.testItem.id == '8'">FC avant</span>
    <span *ngIf="testItem.testItem.id == '9'">Dyspnée avant</span>
    <span *ngIf="testItem.testItem.id == '10'">Douleur avant</span>
    <span *ngIf="testItem.testItem.id == '11'">FC après</span>
    <span *ngIf="testItem.testItem.id == '12'">Dyspnée après</span>
    <span *ngIf="testItem.testItem.id == '13'">Douleur après</span>
    <span *ngIf="testItem.testItem.id == '14'">Montées de genoux</span>
    <span> : {{ testItem.score }}</span>
  </p>
  
  <div id="fab-btn">
  
    <ion-fab>
      <ion-fab-button color="secondary" >
        <ion-icon size="large" name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button class="test" color="secondary"
                      (click)="deleteTest(test.senior, test)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
    <ion-fab>
      <ion-fab-button color="secondary" >
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list  side="bottom">
        <ion-fab-button class="test" color="secondary"
                      (click)="editTest(test)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
  </div>
  
  </ion-content> 
  
      
  
  