<app-head></app-head>
<ion-content id="container">
  <h1>Test 2 MM</h1>

  <app-timer [start]="start"  [showTimerControls]="true" [showLapBtn]="false"></app-timer>

  <p>Nombre de levées de genoux : </p>

<div id="div-plus-minus">
  <button class="btn-plusMinus" (click)="removeUp()">
    <ion-icon name="remove-circle-outline"></ion-icon>
  </button>
  <div id="numberUps">{{ nbUps }}</div>
  <button class="btn-plusMinus" (click)="addUp()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </button>
</div>

  <!--<div id="numberUps">{{ nbUps }}</div>
  <button class="timer-button" (click)="addUp()">Ajouter</button>
  <button class="timer-button" (click)="clearUp()">Reset</button>-->
<br>
  <button *ngIf="update == false" shape="round" color="tertiary" class="timer-button" id="timer-btn-submit" (click)="submit()">Valider</button>
  <button *ngIf="update == true" shape="round" color="tertiary" class="timer-button" id="timer-btn-submit" (click)="submitUpdate()">Mettre à jour</button>

</ion-content>