.timer-button{
    outline: none;
    border: 1px solid #BABF30;
    border-radius: 10px;
    background: #BABF30;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin: 15px 10px;
    min-width: 100px;
}

#numberUps{
    font-size: 30px;
    padding: 20px;
    margin: auto;
}

#timer-btn-submit{
    border: 1px solid #DE7306;
    background: #DE7306;
}

ion-icon{
    color: black;
    background-color: transparent;
    font-size: 30px;
    margin: 0;
    padding: 0px 3px;
}

.btn-plusMinus{
    background-color: transparent;
}

#div-plus-minus{
    display: flex;
    align-items: center;
    margin: 0 60px;
}