<app-head></app-head>

<ion-content id="container">

  <h1>Pratiquants</h1>
  <ion-card>
    <h2>Recherche par</h2>
    
    <ion-radio-group (ionChange)="searchBy($event.target.value)" value="nom">
      <label>Nom</label>
      <ion-radio value="nom"></ion-radio>
      <label>EHPAD</label>
      <ion-radio value="ehpad"></ion-radio>
    </ion-radio-group>

    <ion-searchbar *ngIf="searchByType == 'nom'" type="text" no-shadow placeholder="Nom Prénom" debounce="500" (ionChange)="getItems($event)"></ion-searchbar>
    <ion-item *ngIf="searchByType == 'ehpad'">
        <ion-label position="floating">EHPAD</ion-label>
        <ion-select (ionChange)="selectSeniorsByHome($event.target.value)">
          <ion-select-option [value]="">Tous</ion-select-option>
          <ion-select-option *ngFor="let ehpad of (homesList$ | async)" [value]="ehpad.id">{{ehpad.name}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-card>

    <h2>Nom Prénom</h2>
    <ion-list>
      <ion-item *ngFor="let senior of (newList | async)" (click)="seniorDetails(senior)" >
          <div>
            <p>{{ senior.lastName }} {{ senior.firstName }}</p>
          </div>
      </ion-item>
    </ion-list>
 

    
</ion-content>