.items{
    text-align: center;
    border-style:solid; 
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom-width: 2px;
    border-bottom-color: #BABF30; 
    padding-top: 12px;
}

.itemFooter{
    text-align: center;
    border-style:solid; 
    border-bottom: white;
    border-left: white;
    border-right: white;
    border-top-width: 2px;
    border-top-color: #DE7306; 
    
}

ion-item{
    padding-bottom :0px;
    margin: 0 0 0 20px;
}
