<app-head></app-head>
<ion-content id="container">
  <h1>Test SPPB</h1>

  <form [formGroup]="testForm">

    <div class="items">

      <label><b>PIEDS JOINTS</b></label>

      <ion-radio-group class="joinedFeet" [value]="getValue(1)"
                (ionChange)="addTestItem($event.target.value, 1)">

        <ion-item lines="none">
            <ion-label>Moins de 10s = 0 point</ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Plus de 10s = 1 point</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

      </ion-radio-group>
      
    </div>

    <div class="items">
      <label><b>SEMI TANDEM</b></label>
      <ion-radio-group class="semiTandem" [value]="getValue(2)" (ionChange)="addTestItem($event.target.value, 2)">
        <ion-item lines="none">
            <ion-label>Moins de 10s = 0 point</ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Plus de 10s = 1 point</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div class="items">
      <label><b>TANDEM</b></label>
      <ion-radio-group id="tandem" [value]="getValue(3)" (ionChange)="addTestItem($event.target.value, 3)">
        <ion-item lines="none">
            <ion-label>Moins de 3s = 0 point</ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Entre 3s et 9s = 1 point</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>10s ou plus = 2 points</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div class="items">
      <label><b>VITESSE DE MARCHE</b></label>
      <ion-radio-group id="speed" [value]="getValue(4)" (ionChange)="addTestItem($event.target.value, 4)">
        <ion-item lines="none">
            <ion-label>Incapable = 0 point</ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Moins de 4.82 = 1 point</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>De 4.82 à 6.2 = 2 points</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>De 6.24 à 8.70 = 3 points</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Plus de 8.70 = 4 points</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div class="items">
      <label><b>LEVER DE CHAISE</b></label>
      <ion-radio-group id="chairUp" [value]="getValue(5)" (ionChange)="addTestItem($event.target.value, 5)">
        <ion-item lines="none">
            <ion-label>Incapable ou plus de 60s = 0 point</ion-label>
            <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>De 16.89 à 59s = 1 point</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>De 13.70s à 16.89s = 2 points</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>De 11.20s à 13.69s = 3 points</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Moins de 11.19s = 4 points</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <p>Score final : {{ totalScore }} points</p>
    
    <ion-button *ngIf="update == false" shape="round"
        color="tertiary" (click)="submitAddTest()">
      VALIDER
    </ion-button>

    <ion-button *ngIf="update == true" shape="round"
        color="tertiary" (click)="submitUpdateTest()">
      METTRE A JOUR
    </ion-button>

  </form>
</ion-content>

<ion-footer class="itemFooter" no-border>
  <app-timer [start]="start"  [showTimerControls]="true" [showLapBtn]="false" position="fixed"></app-timer>
</ion-footer>