/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


$main-color: #DE7306;
$second-color: #BABF30;
$btn-color: #E5E8ED;

//Variable globales
*{
    font-family: Arial, Helvetica, sans-serif;
}
  
#container {
  text-align: center;
}

#container p {
  font-size: 20px;
  line-height: 22px;
  color: black;
  margin: 7px;
}
 
#logo{
  width: 75px;
  margin: 10px auto;
}
  
#logo_txt{
  width: 70%;
  margin: 10px auto;
}
  
h1{
  background-color: #DE7306;
  color: white;
  padding: 10px;
  margin: 0px 0px 10px 0px;
}
  
ion-button{
  margin-bottom: 12px;
  border-radius: 40px;
}

ion-icon{
  font-size: 64px;
  padding: 10px;
}

h2{
  color: #BABF30;
}

ion-item{
  margin: 5px 20px;
}

ion-card{
  margin: 20px 10px;
}

ion-searchbar {
  input {
      box-shadow: none !important;
      padding-top: 14px !important;
  }
  ion-icon {
    top: 0px !important;
  }
}