<app-head></app-head>
<ion-content id="container">
  <h1>Nouvel utilisateur</h1>

  <ion-segment color="primary" [(ngModel)]="type">
    <ion-segment-button value="general" checked>
      <ion-label>Général</ion-label>
    </ion-segment-button>
    <ion-segment-button value="details">
      <ion-label>Détails</ion-label>
    </ion-segment-button>
    <ion-segment-button value="check">
      <ion-label>Résumé</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]="newUser">

    <div [ngSwitch]="type">

      <div *ngSwitchCase="'general'" class="div-bf-af">

        <ion-item>
          <ion-label position="floating">Prénom</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Type d'utilisateur</ion-label>
          <ion-select formControlName="userGroup" (ionChange)="selectUserGroup($event.target.value)">
            <ion-select-option value="1">EAPA</ion-select-option>
            <ion-select-option value="4">Medecin</ion-select-option>
            <ion-select-option value="2">Senior</ion-select-option>
          </ion-select>            
        </ion-item>

      </div>

      <div *ngSwitchCase="'details'">
        <div *ngIf="userGroupNb === '1' || userGroupNb === '4'" class="divider"> 
          <ion-item>
            <ion-label position="floating">Pseudo</ion-label>
            <ion-input formControlName="userName" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <div id="password-in-line">
              <ion-input id="password-input" formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="passwordIcon" size="large" (click)='hideShowPassword()'></ion-icon>
          </div>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Téléphone</ion-label>
            <ion-input formControlName="tel" type="tel"></ion-input>
          </ion-item>
        </div>

        <div *ngIf="userGroupNb === '2'" class="divider"> 
          <ion-item>
            <ion-label position="floating">Sexe</ion-label>
            <ion-select formControlName="sexe">
              <ion-select-option value="M">Homme</ion-select-option>
              <ion-select-option value="F">Femme</ion-select-option>
            </ion-select>            
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Date de naissance</ion-label>
            <ion-datetime formControlName="birthDate" value="1920-01-01" displayFormat="DD-MMM-YYYY"></ion-datetime>
  
          </ion-item>
  
  
  
          <ion-item>
              <ion-label position="floating">EHPAD</ion-label>
              <ion-select formControlName="retirementHome">
                  <ion-select-option *ngFor="let ehpad of (homesList$ | async)" value={{ehpad.id}}>{{ehpad.name}}</ion-select-option>
              </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Medecin</ion-label>
            <ion-select formControlName="doctor">
                <ion-select-option *ngFor="let doctor of (doctorsList$ | async)" value={{doctor.id}}>{{ doctor.firstName }} {{ doctor.lastName }}</ion-select-option>
            </ion-select>
        </ion-item>
        </div>
      </div>

      <div *ngSwitchCase="'check'" class="div-bf-af">

        <p *ngIf="userGroupNb === '1'">Groupe : EAPA</p>
        <p *ngIf="userGroupNb === '4'">Groupe : Medecin</p>
        <p *ngIf="userGroupNb === '2'">Groupe : Senior</p>
        <p *ngIf="newUser.value.firstName != ''">Prénom : {{ newUser.value.firstName }}</p>
        <p *ngIf="newUser.value.lastName != ''">Nom : {{ newUser.value.lastName }}</p>
        <p *ngIf="newUser.value.userName != null">Pseudo : {{ newUser.value.userName }}</p>
        <p *ngIf="newUser.value.tel != null">Téléphone : {{ newUser.value.tel }}</p>
        <p *ngIf="newUser.value.retirementHome != null">Ehpad : {{ newUser.value.retirementHome.name }}</p>
        <p *ngIf="newUser.value.doctor != null">Medecin : Dc {{ newUser.value.doctor.lastName }} {{ newUser.value.doctor.firstName }}</p>
        <p *ngIf="newUser.value.birthDate != null">Date de naissance : {{ newUser.value.birthDate | date:'dd/MM/yyyy' }}</p>

      </div>

    </div>
  </form>
</ion-content>

<ion-footer id="container">
  <ion-button *ngIf="type === 'check'" shape="round" color="secondary" (click)='submit()'>Valider</ion-button>
</ion-footer>
