p{
    text-align: center;
}
ion-item{
    text-align: center;
}

bion-button{
    background: #DE7306;
    color: #DE7306;
}

 #password-in-line{
     display: flex;
     justify-content: space-around;
 }

 #password-input{
    padding-right: 20px !important;
 }
